---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

{% include base_path %}

<h2 class="section-heading">Oral communications</h2>

{% assign oral_talks = site.talks | where: "type", "talk" | sort: "date" | reverse %}
{% for post in oral_talks %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2 class="section-heading">Poster presentations</h2>

{% assign poster_talks = site.talks | where: "type", "poster" | sort: "date" | reverse %}
{% for post in poster_talks %}
  {% include archive-single-talk.html %}
{% endfor %}